<div class="user-show">
  <h1> <%= @user.name%>'s Profile</h1>

  <strong>Name:</strong> <%= @user.name %><br>
  <strong>Email:</strong> <%= @user.email %>

  <br><br>
<!-- Allows user to edit only if it's their own profile -->
  <% if @user.id == current_user.id %>
    <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'btn btn-outline-dark btn-sm' %>
  <% end %>
  <%= link_to 'Go Back', posts_path, class: 'btn btn-outline-dark btn-sm' %>
</div>
