<%= form_with model: @post, local: true do |f|  %>
<% if @post.errors.any? %>
<div id="explain_error">
  <h2>
    Uh oh! <%= pluralize(@post.errors.count, "error") %>
    prohibited this post from being saved:
  </h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :text %>
  <%= f.text_area :text %>
</p>

<%= f.submit %>

<% end %>
