<div class="post-index">
  <h2>Welcome, <%= current_user.name %>!</h2>
  <br>
  <%= link_to 'Create New Post', new_post_path, class: 'btn btn-dark btn-sm' %>
  <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'btn btn-outline-dark btn-sm' %>

  <br>
  <h2>Recent Posts on FoodStuff:</h2>
  <br>
  <% @posts.each do |post| %>
    <strong><%= link_to post.title, post_path(post), class: 'post-link'%></strong><br>
    <em>Posted by: <%= post.user.name %></em>
        <br>
    <% if post.user_id == current_user.id %>
      <%= link_to 'Edit Post', edit_post_path(post), class: 'btn btn-outline-secondary btn-sm' %>
      <%= link_to 'Remove Post', post_path(post), method: :delete, class: 'btn btn-outline-secondary btn-sm', data: { confirm: 'Hey, are you sure you want to delete this post?'} %>
      <br>
    <% end %>
    <br>

  <% end %>

  <br>

</div>
