<div class="post-box">
  <h1><%= @post.title %></h1>
  <p><%= @post.text %></p>
  <em>Posted by: <%= link_to @post.user.name, user_path %></em>
</div>

<h3 class="center">Comments:</h3>
<%= render @post.comments %>
<h3 class="center">Add Your Own Comment:</h3>
<%= render 'comments/form' %>
<br>
<!-- Allow user to edit or remove only if user is author  -->
<% if @post.user_id == current_user.id %>
  <%= link_to 'Edit Post', edit_post_path, class: 'btn btn-outline-secondary btn-sm' %>
  <%= link_to 'Remove Post', @post_path, method: :delete, class: 'btn btn-outline-secondary btn-sm', data: { confirm: 'Hey, are you sure you want to delete this post?'} %>
<% end %>

<%= link_to 'Go Back', posts_path, class: 'btn btn-outline-secondary btn-sm' %>
