<!DOCTYPE html>
<html>
  <head>
    <title>FoodStuff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "FoodStuff", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Log Out', '/logout', { method: 'post', local: true } if logged_in? %></li>
            <% if !logged_in? %>
              <li><%= link_to 'Sign up', '/signup' %></li>
              <li><%= link_to 'Log in', '/login' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <p id="notice"><%= notice %></p>

      <%= yield %>
    </div>
  </body>
</html>
